.book-card-wrapper{
 width: 200px; 
 height: 300px;
 border:#8D1BFF solid 2px; 
 margin: 30px;
 border-radius: 7px;
 position: relative;
 box-shadow: 8px 8px #d270ff;
 gap: 20px;
}
.book-card-wrapper:hover{
 box-shadow: 12px 12px #d270ff;
 transition: all .2s ease-out;
 
}



.bookimg-wrapper{
 height: 300px;
 width: 200px;
 object-fit: cover;
}
.book-img{
 height: 100%;
 width: 100%;
 margin:0px 0px;
 filter: brightness(0.8);
 

}

.title{
 position: absolute;
 top: 100%;
 left: 5%;
 font-size: 15px;
 display:none;
}

.title-cover{
 width: 40px;
}
.author{
 padding: 0px; 
 margin: 0px;
 font-size: 18px;
 font-weight: bold;
 font-style: italic;
 position: absolute;
 top:90%;
}

.book-card-wrapper:hover{
 cursor: pointer;

}

.book-img:hover{
 filter: brightness(1);
 transition: all .3s ease-in-out;
}